<link rel="stylesheet" href="css/liebiiao.css">
<link rel="stylesheet" href="css/iconfont.css">
<script src="js/jquery-1.11.3.js"></script>
<script src="js/liebiao.js"></script>


<div class="top">
		<div class="head">
		<div class="icon">&#xe603;</div>
		<input type="text" placeholder="春季新品">
		<div class="choose">
			<div class="icon1">&#xe6b1;</div>
			<div class="text">筛选</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu1"><div class="text">综合</div></div>
		<div class="menu1"><div class="text">销量</div></div>
		<div class="menu1"><div class="text">新品</div></div>
	</div>
	</div>
	
	<div class="con">
		<div class="shop">
			<div class="pic">
				<img src="img/1.png" alt="" width="100%" >
			</div>
			<div class="nature">
				<span class="nat1">良品</span>
				<span class="nat2">蜜妃儿</span>
				<span class="nat3">雪纺衬衫</span>
				<span class="nat4">韩范</span>
				<span class="nat5">五分袖</span>
				<span class="nat6">条纹</span>
				<span class="nat7">系带</span>
			</div>
			<div class="price"><b class="yuanjia">￥65.66</b>   <span class="discount">2276</span> <span class="star">&#xe71f;</span></div>
		</div>
	</div>