<link rel="stylesheet" href="css/zhaohuimima.css">
<link rel="stylesheet" href="css/iconfont.css">
<script src="js/jquery-1.11.3.js"></script>
<script src="js/zhaohuimima.js"></script>

<div class="head">
		<div class="icon">&#xe603;</div>
		<div class="title">找回密码</div>
	</div>
	<div class="con">
		<div class="number">
			<input type="text" class="nmb" placeholder="输入手机号码" value="">
		</div>
	</div>
	<div class="next-step">
		<div class="text">下一步</div>
	</div>