* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: #fff; }

.head {
  width: 100%;
  height: 60px; }
  .head .icon {
    height: 60px;
    width: 20%;
    margin-left: 5%;
    font-family: 'iconfont';
    font-size: 20px;
    line-height: 60px;
    float: left; }
  .head .title {
    height: 60px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    float: right;
    line-height: 60px;
    margin-right: 25%;
    font-family: 'Microsoft YaHei'; }

.adress {
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #a3a3a3;
  text-align: center;
  line-height: 20px;
  font-family: 'Microsoft YaHei'; }

.con {
  width: 100%;
  height: 41px;
  text-align: center; }
  .con .number {
    width: 90%;
    height: 41px;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    border-bottom: 1px solid #ebebeb; }
    .con .number .contry {
      width: 50%;
      height: 40px;
      text-align: right;
      font-size: 24px;
      float: left;
      line-height: 40px;
      font-family: 'Microsoft YaHei'; }
    .con .number .first-number {
      width: 49%;
      height: 40px;
      text-align: left;
      float: right;
      font-size: 24px;
      color: #999999;
      line-height: 40px;
      font-family: 'Microsoft YaHei'; }
    .con .number .nmb {
      width: 100%;
      height: 40px;
      border: none;
      float: left;
      line-height: 40px;
      text-align: center;
      outline: none; }
    .con .number .yan {
      width: 60%;
      height: 40px;
      border: none;
      float: left;
      line-height: 40px;
      text-align: right;
      outline: none; }
    .con .number input[placeholder] {
      font-size: 24px;
      opacity: 0.3; }
    .con .number .yzm {
      width: 40%;
      height: 40px;
      border: none;
      float: right;
      line-height: 40px;
      text-align: center;
      color: #ff5777;
      font-size: 14px;
      font-family: 'Microsoft YaHei'; }

.text {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'Microsoft YaHei';
  line-height: 60px;
  color: #666666; }

.next-step {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px; }
  .next-step .text {
    width: 90%;
    height: 40px;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    background: #ff1f5e;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    line-height: 40px; }

.inport {
  width: 100%;
  height: 30px;
  font-size: 8px;
  color: #999999;
  text-align: center;
  margin-top: 40px; }

.yanzm {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 10px; }
